name: PR validation
description: This workflow runs on every push to non-draft pull requests.

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install correct Rust version
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --verbose

  test:
    name: Run unit and integration tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install correct Rust version
        uses: dtolnay/rust-toolchain@stable
      - name: Run tests
        run: cargo test --verbose

  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install nightly Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo +nightly fmt --check
